@model dotnetmvcapp.Models.UserDetails
@{
    // Remove the layout to create a custom dashboard layout.
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h3>Edit Profile</h3>
                            <hr>
                        </div>
                    </div>
                    <form asp-controller="DeliveryBoy" asp-action="UpdateProfile" method="post">
                        <div class="row">
                            <div class="col">
                                <label>Email</label>
                                <div class="disabled">
                                    @Html.TextBoxFor(x=>x.Email,null,new {@style="pointer-events: none;background-color:#E9ECEF"})
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label> User Name</label>
                                    <div class="disabled">
                                        @Html.TextBoxFor(x=>x.UserName,null,new {@style="pointer-events: none;background-color:#E9ECEF"})
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <label> Role </label>
                                    <div>
                                        @Html.DropDownListFor(x=>x.UserRole,new SelectList(
                                        new List<Object>{
                                        new { value = 0 , text = "Admin"  },
                                        new { value = 1 , text = "Delivery Boy" }
                                        },
                                        "value",
                                        "text",
                                        Model.UserRole
                                        ))
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <label> Phone Number</label>
                                    <div>
                                        @Html.TextBoxFor(x => x.PhoneNumber)
                                    </div>

                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-success btn-md"> Update Profile</button>
                            </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
</div>